/phloc-commons/target/generated-test-sources
/phloc-commons/target/junittest
/phloc-commons/target/maven-status
/phloc-commons/target/surefire-reports
/phloc-commons/target/test-classes
/phloc-commons/target/classes
/phloc-commons/target/generated-sources
/phloc-commons/target
